@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Light.ttf");
}

body {
    background-color: white;
    font-family: "Rubik";
}

.nosearch-category {
    background-color: rgb(222, 222, 232);
    padding: 4px;
}

.nosearch-category > div {
    padding-left: 1em;
}


input[type="text"] {
    font-family: "Rubik";
}

input[type="checkbox"] {
    color: orange;
}

.bi-before {
    width: 25px;
}
.bi-text {
    padding-left: 1em;
    padding-right: 1em;
}

.bi-after {
    display: flex;
    justify-content: right;
    margin-left: auto;
}